html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
}

@keyframes move {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-300%);
    }
}
@keyframes move-back {
    from {
        transform: translateX(-300%);
    }
    to {
        transform: translateX(0);
    }
}
