html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
}

#submit {
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-play-state: paused;
    animation-fill-mode: forwards;
}

@keyframes move {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-200%);
    }
}
@keyframes move-back {
    from {
        transform: translateX(-200%);
    }
    to {
        transform: translateX(0);
    }
}
